body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}


.profile img {
    height: 40px;
}

.cuerpo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.consultas {
    width: 70%;
}

.escribir-pregunta {
    margin-bottom: 20px;
}

.escribir-pregunta button {
    background-color: #242b52;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.pregunta {
    background-color: #6565a6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color:white;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.contenido-pregunta {
    margin-bottom: 10px;
}

.faq {
    width: 25%;
    background-color: #6565a6;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.faq h2 {
    margin-top: 0;
}

.faq ul {
    list-style: none;
    padding: 0;
}

.faq ul li {
    margin-bottom: 10px;
}

.faq {
    width: 300px;
    margin: 20px;
}
.faq-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: #f9f9f9;
}
.faq-answer {
    display: none;
    margin: 10px 0 0 20px;
}
.arrow {
    font-size: 12px;
}
.escribir-pregunta-form {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #f9f9f9;
}