body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

.formulario-container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
}

.formulario-container h2 {
    background-color: #6565a6;
    color: white;
    margin: 0 -20px 20px;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
}

.formulario-container label {
    display: block;
    margin: 10px 0 5px;
}

.formulario-container input,
.formulario-container select,
.formulario-container textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 22px);
}

.formulario-container input[type="submit"],
.formulario-container input[type="reset"] {
    background-color: #6565a6;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 5px 0 0;
}

.formulario-container input[type="submit"]:hover,
.formulario-container input[type="reset"]:hover {
    background-color: #6565a6;
}

.cuerpo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.consultas {
    width: 70%;
}

.faq {
    width: 25%;
    background-color: #6565a6;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.faq h2 {
    margin-top: 0;
}

.faq ul {
    list-style: none;
    padding: 0;
}

.faq ul li {
    margin-bottom: 10px;
}

.faq {
    width: 300px;
    margin: 20px;
}
.faq-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: #f9f9f9;
}
.faq-answer {
    display: none;
    margin: 10px 0 0 20px;
}
.arrow {
    font-size: 12px;
}