
.formulario {
    width: 360px;
    margin: auto;
}

.nav-item {
    margin-right: 30px;
}

.navbar img {
    margin-right: 90px;
}

.custom-navbar {
    background-color: #7A64E3;
}

.nav-link {
    color: #ffc7e3;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
}

.nav-link:hover {
    color: #ff80b5;
}

.user {
    position: absolute;
    right: 0.2px;
}